/* TO LOWER PLUGIN */

html,
body {
	height: 100%;
	background-color: ghostwhite;
	font-family: 'Raleway', sans-serif;
}

h4 {
	font-family: 'Raleway';
}

#page {
	background-color: #bbdefb;
	padding: 1em;
	border-radius: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

#header {
	text-align: center;
	margin: 1em;
}

#menu {
	border-radius: 1em;
	padding: 2em;
	background-color: #eeeeee;
}

#headerSmall {
	text-align: center;
	padding: 0.5em;
	margin: 0.5em;
}

.item {
	padding: 0.3em;
}

#upload-progress .progress-bar {
	border-radius: 1em;
	background-color: #86EDD0;
	width: 0;
	height: 50px;
}

/* TEMPERATURE PLUGIN */
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}